:root{
	--color-primary-xo: #e3345e;
	--color-primary-o: #f5456f;
	--color-primary: #FF577F;
	--color-primary-l: #ff7394;
	--color-primary-xl: #ff85a2;

	--color-secondary-xo: #d46831;
	--color-secondary-o: #e8783f;
	--color-secondary: #FF884B;
	--color-secondary-l: #ff935c;
	--color-secondary-xl: #ffa170;


	--color-bg: #ebfffe;
	--color-text: #242424;
}

html,
body{
	font-family: sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text);
}

.header,
.footer{
	background: linear-gradient(to right, var(--color-primary-o), var(--color-secondary));
	padding: 1.5em 0;
}
.header_title{
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	color: var(--color-bg);
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 2em auto;
}
.btns{

}
.btns_title,
.cpu_title{
	text-align: center;
	padding: 0.5em 1em;
	border-bottom: 4px solid transparent;
	border-image: linear-gradient(to right, var(--color-primary-o), var(--color-secondary));
border-image-slice: 1;
}
.btns_container{
	margin: 2em auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1em;
	border-bottom: 2px dashed var(--color-primary);
	padding-bottom: 2em;
}
.btns_container button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	min-height: 7em;
	min-width: 7em;
	margin: auto;
	border: none;
	outline: none;
	border-radius: 10px;
	background: linear-gradient(to top, var(--color-primary-xl), var(--color-secondary-xl));
	box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.9);
}

.btn_hover:hover{
	background: linear-gradient(to top, var(--color-primary-l), var(--color-secondary-l));
	color: var(--color-bg);
	font-weight: bolder;
}

.btns_container button img{
	width: 70px;
	margin-bottom: 0.5em;
}
.btn_tijeras{
	grid-column-start: 1;
	grid-column-end: 3;
	width: 92%
}


.cpu_turno{
	height: 15em;
	width: 90%;
	background-color: transparent;
	margin: 2em auto;
	border-radius: 10px;
	border: 4px none var(--color-secondary);
	border-style: dashed solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cpu_img{
	width: 8em;
	margin-bottom: 1em;
}
.cpu_span{
	font-size: 1.5em;
}


.footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer span{
	color: var(--color-bg);
}

.cargando{
	background-color: rgba(250, 250, 250, 0.2);
	height: 100vh;
	width: 100vw;
	position: fixed;
	backdrop-filter: blur(2px);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: left 1s;
	left: -100vw;
	z-index: 100;
}
.cargando_content{
	background: linear-gradient(to top, var(--color-primary-o), var(--color-secondary));
	height: 10em;
	width: 15em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: auto;
	padding: 1em;
}
.cargando_content span{
	text-align: center;
	color: var(--color-bg);
}

@keyframes rotateCargando {
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

.cargando_img{
	margin-top: 1em;
	width: 3em;
}
.cargando_animate{
	animation-name: rotateCargando;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.pop_btn,
.btn_nj{
	border-radius: 10px;
	padding: 0.5em 2em;
	border: none;
	outline: none;
}

.nuevo_juego{
	margin: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_nj{
	border: 2px solid var(--color-primary);
	background: transparent;
	color: var(--color-primary);
	transition: all 1s;
}
.btn_nj:hover{
	background-color: var(--color-primary);
	color: var(--color-bg);
}

/* Etiquetas */
.cs-xo{
	color: var(--color-secondary-xo);
}
.cs-o{
	color: var(--color-secondary-o);
}
.cs{
	color: var(--color-secondary);
}
.bold{
	font-weight: bolder;
}